@using CaptchaGenerator.Localization

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Resources.ApplicationName</h1>
    <p class="lead">Next Generation Captcha Generator</p>
    <p>@Html.RouteLink("Starten", "CreateCaptcha", null, new { @class = "btn btn-primary btn-lg btn-index" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Das altehrwürdige Captcha</h2>
        <p>Wikipedia-Artikel zum Captcha ("<i>Completely Automated Public Turing</i> test to tell <i>Computers</i> and <i>Humans Apart</i>"). Die ultimative Referenz...</p>
        <p>Wissen Sie eigentlich, dass man Captchas auch unwissentlich lösen kann?</p>
        <p><a class="btn btn-default btn-index" href="http://de.wikipedia.org/wiki/Captcha">Lesen</a></p>
    </div>
    <div class="col-md-4">
        <h2>Warum Bild-Captchas schlecht sind</h2>
        <p>Jörn Wagner hat sich in seinem iX-Artikel "Gestaffelte Abwehr - Das Ende der Bild-Captchas" mit der Problematik beschäftigt.</p>
        <p>Rechenaufgaben kommen nicht besser weg. Was aber wäre, wenn man beides kombiniert?</p>
        <p><a class="btn btn-default btn-index" href="http://www.heise.de/ix/artikel/Gestaffelte-Abwehr-506871.html">Lesen</a></p>
    </div>
    <div class="col-md-4">
        <h2>Google knackt den Captcha-Code</h2>
        <p>SPIEGEL ONLINE meldet, dass Forscher einen Algorithmus vorgestellt haben, der Captchas in 99,8 % aller Fälle lösen kann.</p>
        <p>Wo lag eigentlich die Erkennungsgenauigkeit bei Ihrem letzen Captcha?</p>
        <p><a class="btn btn-default btn-index" href="http://www.spiegel.de/netzwelt/web/google-knackt-den-captcha-code-a-964955.html">Lesen</a></p>
    </div>
</div>